# Gradle
.gradle/
build/
**/build/

# Local properties
local.properties

# Android Studio
*.iml
.idea/
*.iws
*.ipr
captures/
.externalNativeBuild/
.cxx/

# Key files
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db
